img {
  width: 100%;
}
#imagen-principal {
  background-color: white;

  text-align: center;
}
#bolso-diana {
  background-color: white;

  text-align: center;

  padding: 5px;

  font-size: 22px;

  overflow: hidden;
}

#labiales-ana {
  background-color: white;

  text-align: center;

  padding: 5px;

  font-size: 22px;

  overflow: hidden;
}
