.sc-advert {
  font-size: 1.3rem;
}

.sc-subtitulo {
  font-size: 1.3rem;
}

.sc-texto {
  font-size: 1.1rem;

  padding-left: 150px;

  padding-right: 150px;
}

.how-to__text {
  font-size: 1.2rem;
}
