#seccion-principal {
  background-color: white;

  text-align: center;
}

#seccion-secundaria {
  background-color: white;

  text-align: center;

  padding: 5px;

  font-size: 22px;

  overflow: hidden;
}

#seccion-2 {
  background-color: white;

  text-align: center;

  padding: 5px;

  font-size: 22px;

  overflow: hidden;
}
